<div class="toast-div">
    <div class="toast toast-error">
        <div class="toast-content">
            <i class="toast-type ri-information-line"></i>

            <div class="toast-msessage">
                <span class="toast-text toast-text-1">Success</span>
                <span class="toast-text toast-text-2">Added Course to cart</span>
            </div>
        </div>

        <i class="toast-close ri-close-line"></i>

        <div class="toast-progress"></div>
    </div>
</div>
<script src="./js/components/toast_msg.js"></script> 