@import url('./root.css');

.course-section-div {
    padding: 35px 14px 50px;
}

/*Section Title*/
.course-section-title {
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.course-section-title h1 {
    color: var(--color-blue-1);
    font-size: var(--font-size-l);
    font-weight: 600;
}

.course-section-title a {
    color: var(--color-text-light-1);
    font-size: var(--font-size-s);
    transition: 0.2s all ease;
}

.course-section-title a:hover {
    color: var(--color-blue-2);
    text-decoration: underline;
}

/*Courses row*/
.courses {
    padding: 8px 0;
    gap: 18px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: start;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
}

/*Product Card*/
.course-product {
    min-width: 260px;
    min-height: 300px;
    max-width: 260px;
    max-height: 300px;
}

.course-product-card {
    width: 100%;
    height: 100%;
}

.product-card-top img {
    width: 100%;
    border: 1px solid var(--color-light-grey-3);
}

.course-title {
    font-size: var(--font-size-xm);
    font-weight: 700;
    color: var(--color-text-light-3);
    padding: 4px 0;
}

.course-author {
    padding: 0 10px 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-xs);
    font-weight: 300;
    color: var(--color-text-light-1);
}

.course-review {
    font-size: var(--font-size-s);
    align-items: center;
    gap: 6px;
}

.course-review .rating-digit {
    color: var(--color-text-light-3);
    font-weight: 500;
}

.course-review i{
    transform: translateY(-1px);
    color: var(--color-blue-3);
}

.course-review .rating-number-field{
    font-size: var(--font-size-xs);
    font-weight: 200;
    color: var(--color-text-light-2);
}