<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>controller.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchandisePage</servlet-name>
        <servlet-class>controller.MerchandisePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Merchandises</servlet-name>
        <servlet-class>controller.Merchandises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserSurveyPage</servlet-name>
        <servlet-class>controller.NewUserSurveyPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfilePage</servlet-name>
        <servlet-class>controller.EditProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promotion</servlet-name>
        <servlet-class>controller.Promotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileBasic</servlet-name>
        <servlet-class>controller.UpdateUserProfileBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAddress</servlet-name>
        <servlet-class>controller.EditUserAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordPage</servlet-name>
        <servlet-class>controller.ForgetPasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWishlist</servlet-name>
        <servlet-class>controller.UpdateWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserSecurity</servlet-name>
        <servlet-class>controller.EditUserSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserPFP</servlet-name>
        <servlet-class>controller.UpdateUserPFP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteAccount</servlet-name>
        <servlet-class>controller.UserDeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/about-us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchandisePage</servlet-name>
        <url-pattern>/merch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Merchandises</servlet-name>
        <url-pattern>/merchandises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserSurveyPage</servlet-name>
        <url-pattern>/new-user-survey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfilePage</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promotion</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileBasic</servlet-name>
        <url-pattern>/UpUserProfileBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAddress</servlet-name>
        <url-pattern>/edit-user-address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordPage</servlet-name>
        <url-pattern>/forget-pw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWishlist</servlet-name>
        <url-pattern>/update-wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserSecurity</servlet-name>
        <url-pattern>/edit-security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserPFP</servlet-name>
        <url-pattern>/update-user-pfp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteAccount</servlet-name>
        <url-pattern>/user-delete-account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            <!--timeout 24 hr = 1440 min-->
            1440 
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error?code=404</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/ServletExceptionHandler</location>
    </error-page>
</web-app>
