@import url('./root.css');

/*number statistic section*/
.number-section {
    background-color: var(--color-blue-1);
    padding: 50px 20px 50px;
}

.number-section .number-div {
    width: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.number-div .number-div-title  {
    max-width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
}

.number-div .number-div-title h1 {
    font-weight: 600;
    font-size: var(--font-size-xl);
}

.number-div .number-div-title p {
    font-weight: 300;
    font-size: var(--font-size-xm);
}

.number-div .number-div-content {
    width: 100%;
    padding: 30px 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    color: var(--color-white);
    row-gap: 50px;
}

.number-div-content .number-col {
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.number-div-content .number-col h1 { 
    font-weight: 600;
    font-size: var(--font-size-xl);
}

.number-div-content .number-col p {
    font-weight: 300;
    font-size: var(--font-size-s);
}

/*Office section*/
.office-section {
    padding: 50px 10px 50px;
}

.office-section .office-div {
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.office-div .office-div-title {
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-xl);
    color: var(--color-blue-1);
}

.office-div .office-div-sub-title {
    text-align: center;
    font-weight: 300;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-2);
}

.office-div .office-emb-map {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 300px;
}

.office-div .office-address {
    padding: 0 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-3);
}

.office-div .offices {
    padding: 0 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.office-div .offices .office {
    padding: 15px 0 5px;
    width: 180px;
    height: 160px;
    text-align: center;
    justify-content: start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.office-div .offices .office .office-img-div {
    height: 85px;
    width: 160px;
    display: flex;
    justify-content: center;
}

.office-div .offices .office img {
    object-fit: cover;
}

.office-div .offices .office p{
    font-weight: 300;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-1);
}

.office-div .offices .office.selected p{
    font-weight: 400;
    font-size: var(--font-size-xm);
    color: var(--color-orange-1);
}

/*link section*/
.link-section {
    padding: 50px 30px 40px;
}

.link-section .link-div {
    width: 100%;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-section .link-div .link-col {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 380px;
    gap: 20px;
}

.link-section .link-div .link-col hr {
    width: 100%;
    border: 3px solid var(--color-grey);
}

.link-section .link-div .link-col h1 {
    font-size: var(--font-size-l);
    font-weight: 600;
    color: var(--color-light-black);
}

.link-section .link-div .link-col p {
    font-size: var(--font-size-xm);
    font-weight: 300;
    color: var(--color-text-light-3);
}

.link-section .link-div .link-col a {
    font-size: var(--font-size-xm);
    font-weight: 600;
    color: var(--color-text-light-3);
}

.link-section .link-div .link-col a i{
    transition: 0.3s all ease-in-out
}

.link-section .link-div .link-col a:hover i {
    margin-left: 10px;
}

.link-section .link-div .link-col:nth-of-type(1)  hr{
    border-color: #A435F0;
}

.link-section .link-div .link-col:nth-of-type(2) hr {
    border-color: #5624D0;
}

.link-section .link-div .link-col:nth-of-type(3) hr {
    border-color: #35ABAE;
}

.link-section .link-div .link-col:nth-of-type(1)  a{
    color: #A435F0;
}

.link-section .link-div .link-col:nth-of-type(2) a {
    color: #5624D0;
}

.link-section .link-div .link-col:nth-of-type(3) a {
    color: #35ABAE;
}