@import url('./root.css');

.cart-section {
    min-height: 95vh;
}

.cart-section > .cart-div {
    padding: 20px 10px;
    gap: 30px;
}

.cart-div > div {
    width: 100%;
    flex: 1 1 100px;
}

.cart-div > div.cart-div-right {
    max-width: 300px;
}

.cart-div-right .sticky-div {
    margin-top: 60px;
    position: sticky;
    top: 70px;
}

.cart-div .page-title{
    font-weight: 700;
    font-size: var(--font-size-4xl);
    color: var(--color-blue-2);
}

.cart-div .number-item-div{
    align-items: center;
    gap: 15px;
    margin: 25px 0 8px;
    padding: 0 8px;
}

.cart-div .number-item-div input{
    transform: scale(1.2);
    cursor: pointer;
}

.cart-div .number-item{
    font-weight: 600;
    font-size: var(--font-size-m);
    color: var(--color-text-light-3);
}


/*course item*/
.course-list .course-item{
    padding: 16px 0;
    border-top: 1px solid var(--color-light-grey-3);
    gap: 10px;
    align-items: center;
}

.course-list .course-item:last-of-type{
    border-bottom: 1px solid var(--color-light-grey-3);
}

.course-list .course-item:has(.course-check input:checked) {
    background-color: var(--color-sky-blue-1);
}

.course-item .course-check {
    justify-content: center;
    align-items: center;
    padding: 0 2px 0 8px;
}

.course-item .course-check input{
    transform: scale(1.2);
    cursor: pointer;
}

.course-item .course-img {
    align-items: center;
    min-width: 140px;
    max-width: 140px;
    height: 85px;
    overflow: hidden;
}

.course-item .course-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--color-light-grey-3);
}

.course-item .course-button {
    min-width: 120px;
    max-width: 120px;
    align-items: flex-end;
}

.course-item .course-button button{
    background-color: var(--color-transparent);
    padding: 5px 10px;
    font-weight: 500;
    font-size: var(--font-size-s);
    color: var(--color-blue-2);
    cursor: pointer;
}

.course-item .course-button button:hover{
    text-decoration: underline;
}

.course-item .merch-qty {
    min-width: 100px;
    max-width: 100px;
    align-items:  center;
    justify-content: center;
    max-height: 35px;
    height: 100%;
}

.course-item .merch-qty input{
    min-width: 40px;
    max-width: 40px;
    height: 100%;
    text-align: center;
    border-top: 1px solid var(--color-light-grey-3);
    border-bottom: 1px solid var(--color-light-grey-3);
}

.course-item .merch-qty .qty-btn{
    border: 1px solid var(--color-light-grey-3);
    background-color: var(--color-white);
    padding: 4px 8px;
    height: 100%;
    cursor: pointer;
}

.course-item .merch-qty .qty-btn:hover{
    background-color: var(--color-light-grey-2);
}

.course-detail {
    width: 100%;
}

.course-title {
    font-size: var(--font-size-xm);
    font-weight: 700;
    color: var(--color-text-light-3);
    padding: 0px 0 2px;
}

.course-category {
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-2);
    padding: 0 0 5px 0;
}

.course-author {
    padding: 0 0 0px 0;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-text-light-1);
}

.course-review {
    font-size: var(--font-size-s);
    align-items: center;
    gap: 6px;
}

.course-review .rating-digit {
    color: var(--color-text-light-3);
    font-weight: 500;
}

.course-review i{
    transform: translateY(-1px);
    color: var(--color-blue-3);
}

.course-review .rating-number-field{
    font-size: var(--font-size-xs);
    font-weight: 200;
    color: var(--color-text-light-2);
}

.course-label {
    align-items: center;
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-2);
}

.course-label p::after {
    content: "·";
    margin: 0 4px;
}

.course-label p:last-of-type::after {
    content: "";
}

.course-price-field {
    padding: 5px 0;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    min-width: 120px;
    max-width: 120px;
}

.course-price-field .course-price{
    font-weight: 700;
    font-size: var(--font-size-xm);
    color: var(--color-blue-2);
}

.course-price-field .course-normal-price{
    font-weight: 500;
    font-size: var(--font-size-s);
    color: var(--color-text-light-2);
    text-decoration: line-through;
}

/*right div*/
.cart-price {
    justify-content: flex-start;
}

.cart-price .cart-price-title{
    font-weight: 600;
    font-size: var(--font-size-l);
    color: var(--color-text-light-2);
}

.cart-price .total-price{
    font-weight: 700;
    font-size: var(--font-size-xxxl);
    color: var(--color-blue-1);
}

.cart-price .total-nornmal-price{
    font-weight: 500;
    font-size: var(--font-size-m);
    color: var(--color-text-light-3);
    text-decoration: line-through;
    display: none;
}

.cart-price .discount-percentage{
    font-weight: 400;
    font-size: var(--font-size-m);
    color: var(--color-text-light-3);
    display: none;
}

.cart-price .submit-btn{
    margin-top: 25px;
    padding: 12px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--font-size-xm);
    color: var(--color-white);
    background-color: var(--color-blue-2);
}

.cart-price .submit-btn:hover{
    background-color: var(--color-blue-3);
}

/*empty cart*/
.cart-section div.empty-div {
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 30px;
}

.cart-section div.empty-div img {
    width: 300px;
}

.cart-section div.empty-div h1 {
    font-weight: 700;
    font-size: var(--font-size-xxxl);
    color: var(--color-blue-2);
}

.cart-section div.empty-div p{
    max-width: 600px;
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size-m);
    color: var(--color-text-light-1);
}

.cart-section div.empty-div a {
    margin-top: 20px;
    font-weight: 600;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-1);
    border: 1px solid var(--color-text-light-1);
    padding: 14px 20px;
    border-radius: 40px;
    transition: 0.2s all ease-in-out;
}

.cart-section div.empty-div a:hover {
    background-color: var(--color-light-grey-1);
    color: var(--color-text-light-3);
    border: 1px solid var(--color-text-light-3);
}

