/*image carousel*/


/*Infomation section*/
.home-information-section {
    padding: 24px 20px;
    border: 1px solid #a0a0a0;
}

.home-info-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.home-info-div-col {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    flex: 1 1 300px;
    margin: 0;
    padding: 16px 20px;
    background-color: #ebf8ff;
    border-radius: 8px;
    align-items: center;
    gap: 18px;
}

.home-info-div-col .info-icon {
    background-color: #1f3080;
    color: #fff;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 50%;
}

.home-info-div-col .info-desc {
    color: #575757;
}