@import url('./root.css');

.login-section {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(135deg,#0000 20.5%,var(--color-light-grey-0) 0 29.5%,#0000 0) 0 16px,
        linear-gradient( 45deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%) 32px 0,
        linear-gradient(135deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%,var(--color-light-grey-0) 0 67%,#0000 0),
        linear-gradient( 45deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%,var(--color-light-grey-0) 0 67%,#0000 0 83%,var(--color-light-grey-0) 0 92%,#0000 0),
        var(--color-light-grey-1);
    background-size: 64px 64px;
}


.login-section .login-div {
    position: relative;
    max-height: 500px;
    max-width: 800px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
}

.login-div .login-panel {
    height: 100%;
    width: 100%;
}

/*left panel*/
.login-div .login-left {
    justify-content: center;
    background-color: var(--color-white);
    position: relative;
}

.login-div .login-left-row-1 {
    position: absolute;
    top: 0;
    padding: 25px;
}

.login-div .login-left-row-1 .login-logo {
    height: 40px;
    width: 40px;
}

/*login form*/
.login-div .login-form-div {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.login-form-div h1 {
    color: var(--color-blue-1);
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin-bottom: 15px;
}

.login-form-input-div ,
.login-form-input-div .login-form-input-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.input-field {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.form-input {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: var(--font-size-s);
    color: #4f4f4f;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-input::placeholder {
    color: transparent;
    font-size: var(--font-size-s);
}

.form-input:placeholder-shown ~ .form-label {
    font-size: var(--font-size-xs);
    cursor: text;
    top: 24px;
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: var(--font-size-xs);
    color: var(--color-text-light-1);
    pointer-events: none;
}

.form-input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #1a378f, #4565c4);
    border-image-slice: 1;
}

.form-input:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: var(--font-size-xs);
    color: var(--color-primary);
    font-weight: 600;
}

.remember-me-div {
    position: relative;
    padding: 5px 0 20px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.remember-me-div input {
    cursor: pointer;
}

.remember-me-div label {
    font-weight: 300;
    font-size: var(--font-size-s);
    color: var(--color-text-light-1);
    transition: 0.2s all ease;
    padding-left: 8px;
    cursor: pointer;
    user-select: none;
}

.forget-password {
    justify-content: flex-end;
    align-items: center;
}

.forget-password p {
    font-weight: 300;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    transition: 0.2s all ease;
}

.forget-password:hover {
    text-decoration: underline;
    color: var(--color-text-light-2);
}

.login-form-div .invalid-msg {
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-error);
}

.login-form-div .login-form-bot {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.login-form-div .login-form-bot input {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-blue-2);
    border-radius: 2px;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.2s all ease-in-out
}

.login-form-div .login-form-bot input:hover {
    background-color: var(--color-blue-1);
}

.login-form-div .login-form-bot input:active {
    transform: scale(0.98);
}

.login-form-div .login-form-bot p {
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-text-light-2);
}

.login-form-div .login-form-bot p a {
    color: var(--color-blue-3);
    transition: 0.2s all ease;
}

.login-form-div .login-form-bot p a:hover {
    color: var(--color-blue-3);
    text-decoration: underline;
}

/*right panel*/
.login-div .login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-1);
    position: relative;
}

.login-right .login-right-content {
    z-index: 2;
}

.login-right .login-right-content img{
    max-width: 250px;
    z-index:  99;
}

.login-right .login-right-background {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 50px;
    inset: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.login-right-background .right-backgound-div {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    opacity: 0.6;
    filter: blur(90px);
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.login-right-background .right-backgound-div.shape-1 {
    animation-name: one-bg;
}

.login-right-background .right-backgound-div.shape-2 {
    width: 300px;
    height: 200px;
    animation-name: two-bg;
}

.login-right-background .right-backgound-div.shape-3 {
    animation-name: three-bg;
}

.login-right-background .right-backgound-div:nth-of-type(1) {
    background-color: var(--color-pink-2);
}

.login-right-background .right-backgound-div:nth-of-type(2) {
    background-color: var(--color-white);
}

.login-right-background .right-backgound-div:nth-of-type(3) {
    background-color: var(--color-purple-1);
}


@keyframes one-bg {
    0% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
    25% {
        left: -80px;
        top: 70px;
        transform: scale(1.2) rotate(45deg);
    }
    50% {
        left: 20px;
        top: 200px;
        transform: scale(1) rotate(90deg);
    }
    75% {
        left: 60px;
        top: 100px;
        transform: scale(1.2) rotate(135deg);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes two-bg {
    0% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
    25% {
        left: 50px;
        top: 30px;
        transform: scale(1.1) rotate(-45deg);
    }
    50% {
        left: 100px;
        top: 50px;
        transform: scale(1) rotate(-90deg);
    }
    75% {
        left: 50px;
        top: 180px;
        transform: scale(1.1) rotate(-135deg);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes three-bg {
    0% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
    25% {
        left: 60px;
        top: 100px;
        transform: scale(1.2) rotate(45deg);
    }
    50% {
        left: 20px;
        top: 200px;
        transform: scale(1) rotate(90deg);
    }
    75% {
        left: -30px;
        top: 70px;
        transform: scale(1.2) rotate(135deg);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: scale(1) rotate(0deg);
    }
}

/*Back to home*/
.back-to-home-a {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(30px);
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-1);
    transition: 0.2s all ease-in-out;
}

.back-to-home-a:hover {
    color: var(--color-text-light-3);
}