@import url('./root.css');

/*merch item display section*/
.show-merch-section,
.merch-list-section{
    background-color: var(--color-white);
}

.show-merch-div {
    position: relative;
}

.show-merch-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-merch-div .merch-pic-div{
    position: absolute;
    width: 100%;
}

.show-merch-div .merch-pic-div button{
    width: 38px;
    height: 38px;
    border: 2px solid var(--color-white-transparent-05);
    background: var(--color-black-transparent-03);
    animation: sizeChange 1.4s infinite cubic-bezier(0.4, 0, 1, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.show-merch-div .merch-pic-div button span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-white);
    place-items: center;
    transition: all .3s ease-in-out;
    display: grid;
    position: relative;
}

@keyframes sizeChange{
    0% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(0.92);
        border: 2px solid var(--color-white-transparent-07);
    }
    100% {
        transform: scale(1.02);
    }
}

.show-merch-div .merch-pic-div button:hover {
    border: 3px solid var(--color-white);
    background: var(--color-black-transparent-06);
    animation-name: none;
    transform: scale(0.85);
}

.show-merch-div .merch-pic-div button:hover span{
    width: 10px;
    height: 10px;
}

.merch-pic-div .merch-pic-info {
    display: none;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 10px 12px;
    min-width: 150px;
    max-width: 200px;
    max-height: 120px;
    gap: 5px;
    cursor: pointer;
    border: 1px solid var(--color-light-grey-2);
    box-shadow: var(--box-shadow-1);
}

.merch-pic-div .merch-pic-info > div {
    width: 100%;
    flex: 1 1 20px;
}

.merch-pic-div .merch-pic-info .merch-pic-info-right {
    max-width: 25px;
    justify-content: center;
    align-items: center;
}
.merch-pic-div .merch-pic-info .merch-pic-info-right i {
    font-weight: 600;
    font-size: var(--font-size-xl);
    color: var(--color-navy-blue);
}

.merch-pic-div .merch-pic-info .merch-pic-info-left {
    gap: 8px;
}

.merch-pic-div .merch-pic-info .merch-pic-info-left .merch-info-title{
    font-weight: 700;
    font-size: var(--font-size-s);
    color: var(--color-navy-blue);
}

.merch-pic-div .merch-pic-info .merch-pic-info-left .merch-info-price{
    font-weight: 400;
    font-size: var(--font-size-xs);
    color: var(--color-text-light-3);
}

.merch-pic-div .merch-pic-info .merch-pic-info-left .merch-info-price span{
    font-weight: 500;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-3);
}

.merch-pic-div .outer-info {
    transform: translate(-5px,-25%);
    padding: 0 15px;
}

.merch-pic-div .outer-info:hover .merch-pic-info,
.merch-pic-info:hover,
.merch-pic-div:has(button:hover) .merch-pic-info {
    display: flex;
}

/*div locate*/
.show-merch-div .merch-pic-div.prx-tshirt{
    top: 75%;
    left: 64%;
}

.show-merch-div .merch-pic-div.bottle1{
    top: 35%;
    left: 18.2%;
}

.show-merch-div .merch-pic-div.cap{
    top: 65%;
    left: 25%;
}

.show-merch-div .merch-pic-div.hoodie{
    top: 64%;
    left: 52%;
}

.show-merch-div .merch-pic-div.note2{
    top: 34%;
    left: 40%;
}

.show-merch-div .merch-pic-div.bear{
    top: 22%;
    left: 41%;
}

.show-merch-div .merch-pic-div.bag{
    top: 50%;
    left: 43%;
}

.show-merch-div .merch-pic-div.pad{
    top: 80%;
    left: 44%;
}

.show-merch-div .merch-pic-div.mug{
    top: 23%;
    left: 64%;
}

.show-merch-div .merch-pic-div.note1{
    top: 52%;
    left: 70%;
}

/*all merch section*/
.merch-list-div {
    padding: 70px 0;
}

.merch-list-div .merch-list-title {
    font-weight: 600;
    font-size: var(--font-size-l);
    color: var(--color-blue-2);
    margin-bottom: 30px;
}

.merch-list-div .merch-category {
    border-top: 2px solid var(--color-light-grey-2);
}

.merch-list-div .merch-category:last-of-type {
    border-bottom: 2px solid var(--color-light-grey-2);
}

.merch-list-div .merch-category-title-div {
    padding: 30px 25px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.merch-list-div .merch-category .merch-category-title-div:hover  {
    background-color: var(--color-light-grey-0);
}

.merch-list-div .merch-category-title-div h1{
    font-weight: 600;
    font-size: var(--font-size-xxl);
    color: var(--color-blue-2);
}

.merch-list-div .merch-category-title-div p{
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    color: var(--color-text-light-2);
}

.merch-list-div .merch-category-item-list {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 0px;
    overflow:  hidden;
}

.merch-list-div .merch-category-item-list.active {
    max-height: 99999px;
    padding: 10px 25px 40px;
}

/*merch item*/
.merch-list-item {
    cursor: pointer;
    border-radius: 12px;
    box-shadow: var(--box-shadow-1);
    background-color: var(--color-white);
    overflow: hidden;
    padding: 20px;
    width: 340px;
    min-height: 420px;
    border: 1px solid var(--color-light-grey-2);
    transition: 0.1s all ease-in-out;
    max-height: 100%;
}

.merch-list-item:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow-0);
}


.merch-item-img {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.merch-item-img img {
    height: 230px;
    width: 260px;
    object-fit: cover;
}

.merch-item-info {
    height: 100%;
    display: grid;
}

.merch-item-info .merch-item-name{
    font-size: var(--font-size-m);
    font-weight: 700;
    color: var(--color-text-light-3);
    padding: 6px 0 2px;
}

.merch-review {
    padding: 18px 0 4px;
    font-size: var(--font-size-s);
    align-items: center;
    gap: 6px;
    align-self: flex-end;
    max-height: 32px;
}

.merch-review .rating-digit {
    color: var(--color-text-light-3);
    font-weight: 500;
}

.merch-review i{
    transform: translateY(-1px);
    color: var(--rating-star-color);
}

.merch-review .rating-number-field{
    font-size: var(--font-size-xs);
    font-weight: 200;
    color: var(--color-text-light-2);
}


.merch-tag-field {
    gap: 10px;
    align-items: center;
    align-self: flex-end;
    max-height: 32px;
}

.merch-tag-field .merch-tag{
    font-weight: 600;
    font-size: var(--font-size-xs);
    background-color: var(--color-light-grey-2);
    color: var(--color-text-light-2);
    border-radius: 2px;
    padding: 2px 8px;
}

.merch-price-field {
    padding: 2px 0;
    gap: 10px;
    align-items: center;
    align-self: flex-end;
    max-height: 32px;
}

.merch-price-field .merch-price{
    font-weight: 700;
    font-size: var(--font-size-xm);
    color: var(--color-text-light-3);
}

.merch-price-field .merch-normal-price{
    font-weight: 300;
    font-size: var(--font-size-s);
    color: var(--color-text-light-2);
    text-decoration: line-through;
}


/*Tag Design*/
.merch-tag.tag-red {
    background-color: var(--tag-red-bg);
    color: var(--tag-red-color);
}

.merch-tag.tag-orange {
    background-color: var(--tag-orange-bg);
    color: var(--tag-orange-color);
}

.merch-tag.tag-yellow {
    background-color: var(--tag-yellow-bg);
    color: var(--tag-yellow-color);
}

.merch-tag.tag-green {
    background-color: var(--tag-green-bg);
    color: var(--tag-green-color);
}

.merch-tag.tag-blue {
    background-color: var(--tag-blue-bg);
    color: var(--tag-blue-color);
}

.merch-tag.tag-purple {
    background-color: var(--tag-purple-bg);
    color: var(--tag-purple-color);
}