/* Root Variable */
:root{
    --color-primary: #192561;
    --color-secondary: #3748a3;

    --color-text-light-1: #a0a0a0;
    --color-text-light-2: #545454;
    --color-text-light-3: #373737;

    --color-white: #fff;
    --color-white-transparent-05: rgba(255,255,255,0.5);

    --color-light-grey-1: #f5f5f5;
    --color-light-grey-2: #e8e8e8;
    --color-light-grey-3: #c4c4c4;

    --color-grey: #bababa;
    --color-grey-transparent-03: rgba(50,50,50,0.3);
    --color-grey-transparent-05: rgba(50,50,50,0.5);

    --color-light-black: #111;
    --color-black: #000;
    --color-black-transparent-02: rgba(0,0,0,0.2);
    --color-black-transparent-03: rgba(0,0,0,0.3);
    --color-black-transparent-04: rgba(0,0,0,0.4);
    --color-black-transparent-05: rgba(0,0,0,0.5);
    --color-black-transparent-06: rgba(0,0,0,0.6);

    --color-orange-1: #cc5200;
    --color-orange-2: #ff6600;
    --color-orange-3: #ff9933;

    --color-yellow-1: #6e6501;
    --color-yellow-2: #b0a202;
    --color-yellow-3: #ffea00;

    --color-sky-blue: #ebf8ff;
    --color-blue-1: #1f3080;
    --color-blue-2: #273b91;
    --color-blue-3: #4059c2;

    --color-error: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;

    --color-transparent: rgba(0,0,0,0);

    --tag-red-color: #781212;
    --tag-red-bg: #ffc2c2;
    --tag-orange-color: #6e2f0d;
    --tag-orange-bg: #ffcf94;
    --tag-yellow-color: #63500c;
    --tag-yellow-bg: #eceb98;
    --tag-green-color: #23540c;
    --tag-green-bg: #c6f2b1;
    --tag-blue-color: #146685;
    --tag-blue-bg: #aaddf0;
    --tag-purple-color: #37156e;
    --tag-purple-bg: #cbb7eb;

    --scroll-bar-color: var(--color-secondary);
    --scroll-bar-hover-color: var(--color-primary);
    --scroll-bar-track-color: var(--color-white);

    --box-shadow-white-0: 0 2px 4px rgba(255,255,255,.16), 0 4px 12px rgba(255,255,255,.16);

    --box-shadow-0: 0 2px 4px rgba(0,0,0,.16), 0 4px 12px rgba(0,0,0,.16);
    --box-shadow-1: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    --box-shadow-2: 0 2px 4px rgba(0,0,0,.05), 0 4px 12px rgba(0,0,0,.05);
    
    --text-shadow-1: 2px 2px 4px rgba(0, 0, 0, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.5);

    --font-size-xxxl: 28px;
    --font-size-xxl: 24px;
    --font-size-xl: 22px;
    --font-size-l: 20px;
    --font-size-m: 18px;
    --font-size-xm: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;

    --card-border-radius: 8px;
}
