@import url('./root.css');

.sign-up-section {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(135deg,#0000 20.5%,var(--color-light-grey-0) 0 29.5%,#0000 0) 0 16px,
        linear-gradient( 45deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%) 32px 0,
        linear-gradient(135deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%,var(--color-light-grey-0) 0 67%,#0000 0),
        linear-gradient( 45deg,#0000 8%,var(--color-light-grey-0) 0 17%, #0000 0 58%,var(--color-light-grey-0) 0 67%,#0000 0 83%,var(--color-light-grey-0) 0 92%,#0000 0),
        var(--color-light-grey-1);
    background-size: 64px 64px;
}

.sign-up-section .sign-up-div {
    margin: 100px 20px;
    position: relative;
    max-width: 800px;
    min-width: 550px;
    min-height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    gap: 30px;
    padding: 20px;
}

/*logo div*/
.sign-up-div .logo-div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
}

.sign-up-div .logo-div img {
    height: 40px;
    width: 40px;
}

/*title div*/
.sign-up-title-div {
    margin-top: 50px;
}

.sign-up-title-div h1{
    color: var(--color-blue-1);
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

/*step progress bar*/
.form-progress-bar {
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    padding: 0 0 40px;
}

.form-progress-bar .progress-line {
    height: 2px;
    display: flex;
    flex: 1 1 80px;
    background-color: var(--color-light-grey-3);
}

.form-progress-bar .progress-point {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid var(--color-light-grey-3);
    color: var(--color-text-light-1);
    font-size: var(--font-size-xm);
    font-weight: 400;
}

.form-progress-bar .progress-point span {
    position: relative;
}

.form-progress-bar .progress-point p {
    position: absolute;
    top: 42px;
    color: var(--color-text-light-1);
    font-size: var(--font-size-s);
    font-weight: 400;
    width: 80px;
    text-align: center;
}

.form-progress-bar .progress-point.current {
    border: 2px solid var(--color-blue-3);
}

.form-progress-bar .progress-line.complete {
    height: 3px;
    background-color: var(--color-blue-3);
}

.form-progress-bar .progress-point.complete {
    border: 2px solid var(--color-blue-3);
    background-color: var(--color-blue-3);
    color: var(--color-white);
}

/*sign up form input*/
.sign-up-p {
    display: none;
    width: 100%;
    max-width: 600px;
    gap: 15px;
    padding: 10px 0 20px;
}

.sign-up-p.active {
    display: flex;
}

.sign-up-p .sign-up-input-div label{
    font-size: var(--font-size-s);
    color: var(--color-blue-2);
    font-weight: 500;
    position: relative;
    top: 10px;
    margin: 0 0 0 7px;
    padding: 0 5px;
    background: var(--color-white);
    width: fit-content;
}

.sign-up-p .sign-up-input-div.required-input-div label::after{
    content: "*";
    padding-left: 5px;
    color: var(--color-text-error);
}

.sign-up-p .sign-up-input-div select,
.sign-up-p .sign-up-input-div input{
    padding: 15px 14px;
    font-size: var(--font-size-xm);
    border: 1px solid var(--color-light-grey-3);
    border-radius: 4px;
    background: var(--color-white);
    transition: 0.2s all ease-in-out;
}

.sign-up-p .sign-up-input-div input.invalid-input,
.sign-up-p .sign-up-input-div select.invalid-input{
    border: 1px solid var(--color-text-error);
}

.sign-up-p .sign-up-input-div input#address1 {
    margin-bottom: 8px;
}

.sign-up-p .sign-up-input-div select:focus,
.sign-up-p .sign-up-input-div input:focus{
    border: 1px solid var(--color-text-light-2);
}

.sign-up-p .sign-up-input-div input::placeholder{
    color: var(--color-text-light-1);
}

.sign-up-p .invalid-msg {
    text-align: center;
    color: var(--color-text-error);
}

.sign-up-p .sign-up-btn-div {
    align-items: center;
    gap: 10px;
}

.sign-up-p .sign-up-btn {
    width: 100%;
    max-width: 400px;
    height: 45px;
    font-size: var(--font-size-xm);
    font-weight: 600;
    color: var(--color-text-light-2);
    border: 1px solid var(--color-text-light-3);
    background-color: var(--color-transparent);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.sign-up-p .sign-up-btn:hover {
    background-color: var(--color-light-grey-2);
}

.sign-up-p .sign-up-btn.next-btn,
.sign-up-p .sign-up-btn.submit-btn{
    color: var(--color-white);
    border: 1px solid var(--color-blue-2);
    background-color: var(--color-blue-2);
}

.sign-up-p .sign-up-btn.next-btn:hover,
.sign-up-p .sign-up-btn.submit-btn:hover{
    border: 1px solid var(--color-blue-3);
    background-color: var(--color-blue-3);
}

.sign-up-p .sign-up-btn.submit-btn:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.sign-in-link {
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-2);
}

.sign-in-link a{
    color: var(--color-blue-3);
}

.sign-in-link a:hover{
    text-decoration: underline;
}

.input-requirement {
    list-style: none;
    width: fit-content;
    align-self: center;
}

.input-requirement li{
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-2);
}

.input-requirement li:has(i.ri-checkbox-circle-fill){
    color: var(--toast-color-success);
}

.term-acpt-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-2);
    user-select: none;
}

.term-acpt-label a{
     color: var(--color-blue-3);
}

.term-acpt-label a:hover{
    text-decoration: underline;
}


/*back to home btn*/
.back-to-home-a {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(30px);
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-text-light-1);
    transition: 0.2s all ease-in-out;
}

.back-to-home-a:hover {
    color: var(--color-text-light-3);
}
