/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./root.css');

/* General Style */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: var(--color-white);
    flex-direction: column;
    overflow-x: hidden;
}

/*Scroll Bar*/
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--scroll-bar-track-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-track-color);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-bar-hover-color);
}

/*To top button*/
#toTopBtn {
    position: fixed;
    bottom: -50px;
    right: 16px;
    z-index: 109;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    padding: 3px 9px;
    border-radius: 50%;
    font-size: 26px;
    box-shadow: var(--box-shadow-0);
    transition: 0.3s all ease-out;
}

#toTopBtn.active {
    bottom: 16px;
}

#toTopBtn:hover {
    background-color: var(--color-secondary);
}

/* Navigation Bar */
.nav-bar {
    background-color:  var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    width: 100%;
    z-index: 101;
    user-select: none;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll {
    position: sticky;
    top: 0;
    padding: 0 4%;
    box-shadow: var(--box-shadow-1);
}

.nav-logo-div {
    padding:14px 0;
    flex: 1 2 300px;
    justify-content: left;
    display: flex;
    flex-direction: row;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll .nav-logo-div {
    padding: 0;
}

.nav-logo-div  a{
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 40px;
    height: 40px;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll .nav-logo {
    width: 30px;
    height: 30px;
}

.nav-option-div {
    flex: 3 1 500px;
    height: 68px;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll .nav-option-div {
    height: 52px;
}

.nav-option-div ul {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-option {
    position: relative;
    align-content: center;
    height: 100%;
    padding: 0 24px;
    color: var(--color-text-light-1);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-size: 16px;
}

.nav-bar.nav-scroll .nav-option {
    font-size: 14px;
}

.nav-option::after {
    content: '';
    height: 4px;
    width: 0;
    background-color: var(--color-grey);
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: width 0.2s ease, opacity 0.2s ease, left 0.2s ease;
    pointer-events: none;
}

.nav-option a {
    color: var(--color-text-light-1);
}

.nav-option:hover {
    color: var(--color-text-light-2);
    background-color: var(--color-light-grey-1);
}

.nav-option:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
}

.nav-option.selected {
    color: var(--color-primary);
}

.nav-option.selected::after  {
    background-color: var(--color-blue-2);
    opacity: 1;
    width: 100%;
    left: 0;
}

.nav-option-dropdown {
    width: 150px;
    display: none;
    position: absolute;
    top: 70px;
    background-color:  var(--color-white);
    color: var(--color-text-light-1);
    box-shadow: var(--box-shadow-1);
    transition: 0.2s all ease-in-out;
}

.nav-bar.nav-scroll .nav-option-dropdown {
    top: 52px;
}

.nav-option-dropdown a {
    color: var(--color-text-light-1);
}

a:has(.nav-option):hover + .nav-option-dropdown,
.nav-option-dropdown:hover {
    display: block;
}

.nav-option-dropdown ul {
    display: block;
    z-index: 102;
}

.nav-option-dropdown ul li{
    padding: 10px 12px;
}

.nav-option-dropdown ul li:hover {
    background-color: var(--color-light-grey-1);
}

.nav-option-dropdown ul li:active {
    background-color: var(--color-light-grey-2);
}

.nav-option-dropdown ul li:hover a{
    color: var(--color-text-light-2);
}

.nav-function-div {
    padding:14px 0;
    flex: 1 2 300px;
    justify-content: right;
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll .nav-function-div {
    gap: 12px;
    padding: 0;
}

.nav-function-div a{
    align-self: center;
}

.nav-icon {
    align-self: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-light-1);
    cursor: pointer;
    padding: 0 6px;
}

.nav-bar.nav-scroll .nav-icon {
    font-size: 20px;
}

.nav-icon:hover {
    color: var(--color-secondary);
}

.nav-btn {
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.nav-bar.nav-scroll .nav-btn {
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
}

.nav-login-btn {
    background-color:  var(--color-white);
    border: 1px solid var(--color-light-black);
}

.nav-login-btn:hover {
    background-color: var(--color-light-grey-2);
}

.nav-login-btn:active {
    background-color: var(--color-light-grey-3);
}

.nav-sign-up-btn {
    color:  var(--color-white);
    background-color: var(--color-secondary);
}

.nav-sign-up-btn:hover {
    background-color: var(--color-blue-1);
}

.nav-sign-up-btn:active {
    background-color: var(--color-primary);
}

/* defined style */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.section > div{
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}

/*footer*/
.footer-section {
    background-color: var(--color-dark-blue-1);
    padding: 40px 0 20px;
}

.footer-div div {
    width: 100%;
}

.footer-div .footer-divider {
    margin: 20px -10px 15px;
    border-top: 1px solid var(--color-white-transparent-05);
}

/*footer top part*/
.footer-top {
    padding: 0 25px;
}

.footer-list-title {
    font-size: var(--font-size-xm);
    font-weight: 500;
    color: var(--color-white);
}

.footer-list {
    list-style: none;
}

.footer-list li {
    padding: 4px 0;
}

.footer-contact {
    padding: 6px 0;
}

.footer-contact i {
    margin-right: 10px;
}

.footer-list a,
.footer-contact a{
    font-size: var(--font-size-s);
    font-weight: 300;
    color: var(--color-text-light-1);
    transition: 0.2s all linear;
}

.footer-list a:hover,
.footer-contact a:hover{
    color: var(--color-white);
}

/*footer bottom part*/
.footer-bot-left {
    gap: 10px;
    color: var(--color-light-grey-1);
    align-items: center;
    justify-content: start;
    font-size: var(--font-size-xs);
    font-weight: 200;
    letter-spacing: 1px;
}

.footer-bot .footer-logo {
    width: 28px;
    height: 28px;
}