@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../RemixIcon/fonts/remixicon.css');
@import url('../admin_css/sweetalert2.css');
/* ------------ROOT VARIABLES----------------------- */
:root{
    --color-primary: #7380ec;
    --color-secondary: #FFFFFF;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-black: #000;
    --color-info-dark: #7d8ada;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant:#677483;
    --color-background: #f6f6f9;

    --card-border-radius: 8px;
    --border-radius-1: 0.25em;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0rem 0.5rem 1rem var(--color-light);
    --filter: brightness(0.95);

    /*kah xuan*/
    --toast-color-error: #ff7782;
    --toast-color-success: #64d640;
    --toast-color-warning: #ffbb55;
    --toast-color-default: #c2c2c2;

    --toast-color-error-1: #eb3645;
    --toast-color-success-1: #47b524;
    --toast-color-warning-1: #e6a037;
    --toast-color-default-1: #949494;

    --color-text-light-1: #a0a0a0;
    --color-text-light-2: #545454;
    --color-text-light-3: #373737;

    --color-light-grey-0: #f9f9f9;
    --color-light-grey-1: #f5f5f5;
    --color-light-grey-2: #e8e8e8;
    --color-light-grey-3: #c4c4c4;

    --box-shadow-0: 0 2px 4px rgba(0,0,0,.16), 0 4px 12px rgba(0,0,0,.16);
    --box-shadow-1: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    --box-shadow-2: 0 2px 4px rgba(0,0,0,.05), 0 4px 12px rgba(0,0,0,.05);

    --font-size-8xl: 48px;
    --font-size-7xl: 44px;
    --font-size-6xl: 40px;
    --font-size-5xl: 36px;
    --font-size-7xl: 32px;
    --font-size-xxxl: 28px;
    --font-size-xxl: 24px;
    --font-size-xl: 22px;
    --font-size-l: 20px;
    --font-size-m: 18px;
    --font-size-xm: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;
}

::selection{
    color: var(--color-white);
    background: var(--color-primary);
}

option {
    color: #000;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    overflow-x: hidden;
    color: var(--color-dark);
}

/*Scroll Bar*/
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #363949;
}

body::-webkit-scrollbar-thumb {
    background-color: #7d8ada;
    border-radius: 20px;
    border: 3px solid #363949;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #5f69a6;
}

div{
    position: relative;
}

a{
    color: var(--color-dark);
    user-select: none;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8vw;
    letter-spacing: 1px;
}

h2{
    font-weight: 700;
    font-size: 1.2vw;
}

h3{
    font-size: 0.95rem;
}

h4{
    font-size: 0.77rem;
}

small{
    font-size: 12px;
    font-weight: 500;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark) !important;
}

.primary{
    color: var(--color-primary) !important;
}

.danger{
    color: var(--color-danger) !important;
}

.success{
    color: var(--color-success) !important;
}

.warning{
    color: var(--color-warning) !important;
}


